.space{
    width: 100%;
    height: 100%;
    background-color: #030B16;
    background-image: url("../assets/star.svg");
}
.moon{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset 0 0 20px 20px;
    
    position: fixed;
    top: 0;    
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;

    animation: zoomIn 5s ease-out;
    animation-fill-mode: forwards;
}
.moon::after{
    position: absolute;
    top: 0;    
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    border-color: black;
    border-radius: 50%;
    box-shadow: -40px -40px 50px 2px #000 inset;
}

.moon > div {
    width: 200%;
    height: 100%;
    animation: spin 40s linear alternate infinite; /*************animations code***************/
    background-image: url('../assets/moon.jpg');
}



@keyframes spin {
    to{
        transform: translateX(-50%);
    }
}

@keyframes zoomIn {
    from{
        transform: scale3d(0.7, 0.7, 0.7);
    }
    to{
        transform: scale3d(1,1,1)
    }
}

/* Code above is for moon spinning intro  */

.tapMessage{
    text-align: center;
    position: relative;
    top: 90%;
    font-size: 2rem;
    letter-spacing: 3px;

    animation: jumpUp 1.5s ease-out;
}
@media screen and (min-width: 300px) {
    .tapMessage{
        font-size: 1rem;
    }
}
@keyframes jumpUp {
    from{
        filter: blur(5px);
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        filter: blur(0);
        opacity: 1;
        transform: translateY(0);
    }
}

/* Code above is for text pop up in intro */

.scale-and-fade{
    animation: next 1s ease-out;
    animation-fill-mode: forwards;
}
@keyframes next {
    from{
        opacity: 1;
    }
    to{
        transform: scale3d(2, 2, 2);
        opacity: 0;
        display: none;
        
    }
}
/* Code above is for scaling and fading intro screen */
/* Code for sections */
.section1{
    position: absolute;
    z-index: 100;
    overflow: hidden;

}
.section2{
    width: 100%;
    position: absolute;
    z-index: -10;

    display: grid;
    justify-content: center;
    align-items: center;
}